# Ignore raw data folders
data/
data/*

.venv/

# environment files
.env
env.ps1

# dbt file we don't need in repo
.user.yml

# local results, installs and logs
dbt_big_brother/run_results/
dbt_big_brother/dbt_packages/
logs/
dbt_big_brother/logs/
dbt_big_brother/target/

# pre-commit target folder
target